In [60]:
# import the required libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as st 
%matplotlib inline

In [61]:
df1 = pd.read_csv('../UWA-Project_3/Resources/wa_hs_atar_2016.csv')
df1 = df1[['School','Year','Median ATAR']]
df2 = pd.read_csv('../UWA-Project_3/Resources/wa_hs_atar_2017.csv')
df2 = df2[['School','Year','Median ATAR']]
df3 = pd.read_csv('../UWA-Project_3/Resources/wa_hs_atar_2018.csv')
df3 = df3[['School','Year','Median ATAR']]
df4 = pd.read_csv('../UWA-Project_3/Resources/wa_hs_atar_2019.csv')
df4 = df4[['School','Year','Median ATAR']]
df5 = pd.read_csv('../UWA-Project_3/Resources/wa_hs_atar_2020.csv')
df5 = df5[['School','Year','Median ATAR']]

In [62]:
mergedDf = df1.merge(df2, on='School')
mergedDf=mergedDf.rename(columns={"Year_x": "Year_16", "Median ATAR_x":"ATAR_16",
"Year_y": "Year_17", "Median ATAR_y":"ATAR_17"})

In [63]:
mergedDf1 = df3.merge(df4, on='School')
mergedDf1=mergedDf1.rename(columns={"Year_x": "Year_18", "Median ATAR_x":"ATAR_18",
"Year_y": "Year_19", "Median ATAR_y":"ATAR_19"})

In [64]:
mergedDf2 = mergedDf.merge(mergedDf1, on='School')

In [65]:
mergedDf3 = mergedDf2.merge(df5, on='School')
df = mergedDf3.rename(columns={"Year_x_x": "Year_16", "Median ATAR_x_x":"ATAR_16",
"Year_y_x": "Year_17", "Median ATAR_y_x":"ATAR_17","Year_x_y": "Year_18", "Median ATAR_x_y":"ATAR_18","Year_y_y": "Year_19", "Median ATAR_y_y":"ATAR_19","Year": "Year_20", "Median ATAR":"ATAR_20"})

## First model

In [66]:
# for each school 
school_name_array = [] 
y_test_array = [] 
y_pred_array = [] 
mae_array = [] 
mse_array = [] 
rmse_array = [] 
from sklearn import metrics
for i in df.index : 
    X_train = df['Year_16'][i], df['Year_17'][i], df['Year_18'][i], df['Year_19'][i]
    X_train = list(X_train)
    X_train=[[j] for j in X_train]
    X_train = np.array(X_train) 
    X_test = [df['Year_20'][i]]
    y_train = (df['ATAR_16'][i], df['ATAR_17'][i], df['ATAR_18'][i], df['ATAR_19'][i])
    y_train = list(y_train)
    y_train=[[j] for j in y_train]
    y_train = np.array(y_train) 
    y_test = (df['ATAR_20'][i])
    from sklearn.linear_model import LinearRegression
    regressor = LinearRegression()
    reg = regressor.fit(X_train, y_train) # train schoool using 16-19. 
    # print(regressor.intercept_)
    # print(regressor.coef_)
    X_2020 = np.array(X_test)
    X_2020 = X_2020.reshape(-1, 1)
    y_pred = reg.predict(X_2020) # predict 2020 
    # print(y_pred)
    y_pred = y_pred[0] 
    predict = pd.DataFrame({'Actual': y_test, 'Predicted': y_pred}) # compare 2020 pred vs actual 
    school_name_array.append(df.iloc[i]["School"])
    y_test_array.append(y_test)
    y_pred_array.append(y_pred[0])
    mae_array.append(metrics.mean_absolute_error([y_test], y_pred))
    mse_array.append(metrics.mean_squared_error([y_test], y_pred)) 
    rmse_array.append(np.sqrt(metrics.mean_squared_error([y_test], y_pred))) 
predicted_df = pd.DataFrame({'School': school_name_array, 'Actual': y_test_array, 'Predicted': y_pred_array, 'MAE': mae_array, 'MSE': mse_array, 'RMSE': rmse_array})

In [67]:
# Filter the top 17 schools from 2016-2019
predicted_17 = predicted_df.loc[(predicted_df['School'] == 'Perth Modern School') | (predicted_df['School'] == "Presbyterian Ladies' College") |
                                (predicted_df['School'] == 'Penrhos College') | (predicted_df['School'] == 'Christ Church Grammar School') |
                                (predicted_df['School'] == 'Santa Maria College') | (predicted_df['School'] == "St Hilda's Anglican School for Girls") |
                                (predicted_df['School'] == 'Perth College') | (predicted_df['School'] == "St Mary's Anglican Girls' School") |
                                (predicted_df['School'] == "Methodist Ladies' College") | (predicted_df['School'] == 'Shenton College') |
                                (predicted_df['School'] == "Hale School") | (predicted_df['School'] == "Carmel School") |
                                (predicted_df['School'] == "John XXIII College") | (predicted_df['School'] == "Rossmoyne Senior High School") |
                                (predicted_df['School'] == "Ursula Frayne Catholic College") | (predicted_df['School'] == "Wesley College") |
                                (predicted_df['School'] == "Manjimup Senior High School"), :]
predicted_17

,School,Actual,Predicted,MAE,MSE,RMSE
0,Perth Modern School,97.55,97.475,0.075,0.005625,0.075
1,Presbyterian Ladies' College,89.20,87.750,1.450,2.102500,1.450
2,Penrhos College,90.65,86.050,4.600,21.160000,4.600
3,Christ Church Grammar School,92.50,92.050,0.450,0.202500,0.450
4,Santa Maria College,89.35,86.575,2.775,7.700625,2.775
5,St Hilda's Anglican School for Girls,92.70,89.825,2.875,8.265625,2.875
6,Perth College,89.40,88.625,0.775,0.600625,0.775
7,St Mary's Anglican Girls' School,90.30,92.000,1.700,2.890000,1.700
8,Methodist Ladies' College,90.55,90.800,0.250,0.062500,0.250
9,Shenton College,88.60,87.600,1.000,1.000000,1.000
10,Hale School,90.35,92.650,2.300,5.290000,2.300
11,Carmel School,88.85,83.975,4.875,23.765625,4.875
12,John XXIII College,89.50,85.975,3.525,12.425625,3.525
14,Rossmoyne Senior High School,88.40,89.100,0.700,0.490000,0.700
31,Ursula Frayne Catholic College,83.15,90.575,7.425,55.130625,7.425
46,Wesley College,83.90,90.925,7.025,49.350625,7.025
58,Manjimup Senior High School,80.05,76.850,3.200,10.240000,3.200

## Second Model

In [68]:
df_second = df.copy()

In [69]:
df_second['Year_21'] = 2021

In [74]:
school_name_array = [] 
y_pred_array = [] 

for i in df.index : 
    X_train = df_second['Year_16'][i], df_second['Year_17'][i], df_second['Year_18'][i], df_second['Year_19'][i]
    X_train = list(X_train)
    X_train=[[j] for j in X_train]
    X_train = np.array(X_train) 
    X_test = df_second['Year_21'][i]
    y_train = (df_second['ATAR_16'][i], df_second['ATAR_17'][i], df_second['ATAR_18'][i], df_second['ATAR_19'][i])
    y_train = list(y_train)
    y_train=[[j] for j in y_train]
    y_train = np.array(y_train) 
    from sklearn.linear_model import LinearRegression
    regressor = LinearRegression()
    reg = regressor.fit(X_train, y_train) # train schoool using 16-19. 
    X_test = X_test.reshape(-1, 1)
    y_pred = reg.predict(X_test) # predict 2021 
    y_pred = y_pred[0] 
    school_name_array.append(df.iloc[i]["School"])
    y_pred_array.append(y_pred[0])
predicted_df = pd.DataFrame({'School': school_name_array, 'Predicted': y_pred_array})
predicted_df

                           School  Predicted
0             Perth Modern School     97.945
1    Presbyterian Ladies' College     86.835
2                 Penrhos College     84.440
3    Christ Church Grammar School     91.965
4             Santa Maria College     85.275
..                            ...        ...
116        Quinns Baptist College     83.385
117                Atwell College     73.450
118            Halls Head College     60.325
119  Ellenbrook Christian College     76.680
120   Thornlie Senior High School     74.120

[121 rows x 2 columns]

In [75]:
# Filter the top 17 schools from 2016-2019
predicted_20 = predicted_df.loc[(predicted_df['School'] == 'Perth Modern School') | (predicted_df['School'] == "Presbyterian Ladies' College") |
                                (predicted_df['School'] == 'Penrhos College') | (predicted_df['School'] == 'Christ Church Grammar School') |
                                (predicted_df['School'] == 'Santa Maria College') | (predicted_df['School'] == "St Hilda's Anglican School for Girls") |
                                (predicted_df['School'] == 'Perth College') | (predicted_df['School'] == "St Mary's Anglican Girls' School") |
                                (predicted_df['School'] == "Methodist Ladies' College") | (predicted_df['School'] == 'Shenton College') |
                                (predicted_df['School'] == "Hale School") | (predicted_df['School'] == "Carmel School") |
                                (predicted_df['School'] == "John XXIII College") | (predicted_df['School'] == "Rossmoyne Senior High School") |
                                (predicted_df['School'] == "Ursula Frayne Catholic College") | (predicted_df['School'] == "Wesley College") |
                                (predicted_df['School'] == "Manjimup Senior High School"), :]
predicted_20

                                  School  Predicted
0                    Perth Modern School     97.945
1           Presbyterian Ladies' College     86.835
2                        Penrhos College     84.440
3           Christ Church Grammar School     91.965
4                    Santa Maria College     85.275
5   St Hilda's Anglican School for Girls     89.120
6                          Perth College     88.280
7       St Mary's Anglican Girls' School     92.340
8              Methodist Ladies' College     91.145
9                        Shenton College     87.095
10                           Hale School     93.575
11                         Carmel School     82.180
12                    John XXIII College     85.125
14          Rossmoyne Senior High School     89.360
31        Ursula Frayne Catholic College     91.990
46                        Wesley College     93.150
58           Manjimup Senior High School     75.020

## Third Model

In [71]:
df_copy = df.copy()

In [72]:
df_copy['Year_21'] = 2021

In [73]:
# for each school 
school_name_array = [] 
y_pred_array = [] 

for i in df.index : 
    X_train = df_copy['Year_16'][i], df_copy['Year_17'][i], df_copy['Year_18'][i], df_copy['Year_19'][i], df_copy['Year_20'][i]
    X_train = list(X_train)
    X_train=[[j] for j in X_train]
    X_train = np.array(X_train) 
    X_test = df_copy['Year_21'][i]
    y_train = (df_copy['ATAR_16'][i], df_copy['ATAR_17'][i], df_copy['ATAR_18'][i], df_copy['ATAR_19'][i], df_copy['ATAR_20'][i])
    y_train = list(y_train)
    y_train=[[j] for j in y_train]
    y_train = np.array(y_train) 
    from sklearn.linear_model import LinearRegression
    regressor = LinearRegression()
    reg = regressor.fit(X_train, y_train) # train schoool using 16-19. 
    X_test = X_test.reshape(-1, 1)
    y_pred = reg.predict(X_test) # predict 2021 
    y_pred = y_pred[0] 
    school_name_array.append(df.iloc[i]["School"])
    y_pred_array.append(y_pred[0])
predicted_df = pd.DataFrame({'School': school_name_array, 'Predicted': y_pred_array})
predicted_df

                           School  Predicted
0             Perth Modern School     98.005
1    Presbyterian Ladies' College     87.995
2                 Penrhos College     88.120
3    Christ Church Grammar School     92.325
4             Santa Maria College     87.495
..                            ...        ...
116        Quinns Baptist College     73.265
117                Atwell College     67.210
118            Halls Head College     67.765
119  Ellenbrook Christian College     78.000
120   Thornlie Senior High School     69.700

[121 rows x 2 columns]

In [76]:
# Filter the top 17 schools from 2016-2019
predicted_21 = predicted_df.loc[(predicted_df['School'] == 'Perth Modern School') | (predicted_df['School'] == "Presbyterian Ladies' College") |
                                (predicted_df['School'] == 'Penrhos College') | (predicted_df['School'] == 'Christ Church Grammar School') |
                                (predicted_df['School'] == 'Santa Maria College') | (predicted_df['School'] == "St Hilda's Anglican School for Girls") |
                                (predicted_df['School'] == 'Perth College') | (predicted_df['School'] == "St Mary's Anglican Girls' School") |
                                (predicted_df['School'] == "Methodist Ladies' College") | (predicted_df['School'] == 'Shenton College') |
                                (predicted_df['School'] == "Hale School") | (predicted_df['School'] == "Carmel School") |
                                (predicted_df['School'] == "John XXIII College") | (predicted_df['School'] == "Rossmoyne Senior High School") |
                                (predicted_df['School'] == "Ursula Frayne Catholic College") | (predicted_df['School'] == "Wesley College") |
                                (predicted_df['School'] == "Manjimup Senior High School"), :]
predicted_21

                                  School  Predicted
0                    Perth Modern School     97.945
1           Presbyterian Ladies' College     86.835
2                        Penrhos College     84.440
3           Christ Church Grammar School     91.965
4                    Santa Maria College     85.275
5   St Hilda's Anglican School for Girls     89.120
6                          Perth College     88.280
7       St Mary's Anglican Girls' School     92.340
8              Methodist Ladies' College     91.145
9                        Shenton College     87.095
10                           Hale School     93.575
11                         Carmel School     82.180
12                    John XXIII College     85.125
14          Rossmoyne Senior High School     89.360
31        Ursula Frayne Catholic College     91.990
46                        Wesley College     93.150
58           Manjimup Senior High School     75.020