## The purpose of this Jupyter Notebook is to create the NAPLAN WA High School rankings for 2019 which is the only year with NAPLAN score available we could find & create the table which will be loaded to the SQL database later on

In [11]:
# import the required library
import pandas as pd

In [12]:
# read "naplan_hs_2019" csv file
naplan = pd.read_csv("Resources/naplan_hs_2019.csv")
naplan

,School,Year,Rank,Level,Reading,Writing,Spelling,Grammar,Numeracy,Average
0,Perth Modern School,2019,1,Year 9,694,667,695,704,729,697.8
1,St Hilda's Anglican School for Girls,2019,2,Year 9,649,636,631,644,652,642.4
2,Presbyterian Ladies' College,2019,3,Year 9,641,633,636,637,658,641.0
3,St Mary's Anglican Girls' School,2019,4,Year 9,640,631,634,637,657,639.8
4,Rehoboth Christian College,2019,5,Year 9,633,605,637,641,654,634.0
...,...,...,...,...,...,...,...,...,...,...
188,Mindarie Senior College,2019,189,Year 9,0,0,0,0,0,0.0
189,Our Lady of Mercy College,2019,190,Year 9,0,0,0,0,0,0.0
190,Sevenoaks Senior College,2019,191,Year 9,0,0,0,0,0,0.0
191,Western Australian College Of Agriculture - Cu...,2019,192,Year 9,0,0,0,0,0,0.0
192,Woodthorpe School,2019,193,Year 9,0,0,0,0,0,0.0

In [13]:
# read "school_coordinates" csv file
coord = pd.read_csv("Resources/school_coordinates.csv")
coord

,School,Suburb,Longitude,Latitude
0,Adam Road Primary School,South Bunbury,115.635371,-33.357951
1,Al-Hidayah Islamic School,Bentley,115.911564,-32.010358
2,Albany Community Kindergarten,Albany,117.880987,-35.021460
3,Albany Primary School,Albany,117.891611,-35.018212
4,Albany Secondary Education Support Centre,Albany,117.866867,-34.990749
...,...,...,...,...
1135,Yuluma Primary School,Innaloo,115.789990,-31.892268
1136,Yuna Primary School,Yuna,115.002648,-28.326566
1137,Woodthorpe School,Willetton,115.901720,-32.056540
1138,St Stephen's School - Carramar,Carramar,115.788280,-31.717040
1139,Bunbury John Calvin School,Carey Park,115.649560,-33.350970

In [14]:
# merge "naplan" Dataframe with "coord" Dataframe
naplan_coord = pd.merge(naplan, coord, on='School', how='left')

In [15]:
# display the merged Dataframe
naplan_coord

,School,Year,Rank,Level,Reading,Writing,Spelling,Grammar,Numeracy,Average,Suburb,Longitude,Latitude
0,Perth Modern School,2019,1,Year 9,694,667,695,704,729,697.8,Subiaco,115.836396,-31.945066
1,St Hilda's Anglican School for Girls,2019,2,Year 9,649,636,631,644,652,642.4,Mosman Park,115.767812,-32.005047
2,Presbyterian Ladies' College,2019,3,Year 9,641,633,636,637,658,641.0,Peppermint Grove,115.764906,-31.993592
3,St Mary's Anglican Girls' School,2019,4,Year 9,640,631,634,637,657,639.8,Karrinyup,115.766244,-31.876971
4,Rehoboth Christian College,2019,5,Year 9,633,605,637,641,654,634.0,Kenwick,115.977924,-32.031619
...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Mindarie Senior College,2019,189,Year 9,0,0,0,0,0,0.0,Mindarie,115.706050,-31.676979
189,Our Lady of Mercy College,2019,190,Year 9,0,0,0,0,0,0.0,Australind,115.740064,-33.270941
190,Sevenoaks Senior College,2019,191,Year 9,0,0,0,0,0,0.0,Cannington,115.942305,-32.012479
191,Western Australian College Of Agriculture - Cu...,2019,192,Year 9,0,0,0,0,0,0.0,Cunderdin,117.230704,-31.626847
192,Woodthorpe School,2019,193,Year 9,0,0,0,0,0,0.0,Willetton,115.901720,-32.056540

In [16]:
# Check for NaN values
# creating bool series True for NaN values  
bool_series = pd.isnull(naplan_coord["Longitude"])  
    
# filtering data  
# displaying data only with "Longitude" = NaN
naplan_coord[bool_series]

Empty DataFrame
Columns: [School, Year, Rank, Level, Reading, Writing, Spelling, Grammar, Numeracy, Average, Suburb, Longitude, Latitude]
Index: []

In [17]:
# read "sectors" csv file
sectors = pd.read_csv("Resources/sectors.csv")
sectors

                              School          Sector Gender   Religion
0                   Mercedes College  Non-government  Girls   Catholic
1                     Wesley College  Non-government   Boys  Christian
2                    Penrhos College  Non-government  Girls    Uniting
3                     Newman College  Non-government  Co-ed   Catholic
4                 St Norbert College  Non-government  Co-ed   Catholic
..                               ...             ...    ...        ...
188  Bruce Rock District High School      Government  Co-ed    Secular
189                 Shark Bay School      Government  Co-ed    Secular
190   Pemberton District High School      Government  Co-ed    Secular
191       Bunbury John Calvin School  Non-government  Co-ed  Christian
192     Exmouth District High School      Government  Co-ed    Secular

[193 rows x 4 columns]

In [18]:
# merge "naplan_coord" Dataframe with "sectors" Dataframe
wa_hs_naplan_ratings = pd.merge(naplan_coord, sectors, on='School', how='left')

In [19]:
# display the merged Dataframe
wa_hs_naplan_ratings

,School,Year,Rank,Level,Reading,Writing,Spelling,Grammar,Numeracy,Average,Suburb,Longitude,Latitude,Sector,Gender,Religion
0,Perth Modern School,2019,1,Year 9,694,667,695,704,729,697.8,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular
1,St Hilda's Anglican School for Girls,2019,2,Year 9,649,636,631,644,652,642.4,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican
2,Presbyterian Ladies' College,2019,3,Year 9,641,633,636,637,658,641.0,Peppermint Grove,115.764906,-31.993592,Non-government,Girls,Uniting
3,St Mary's Anglican Girls' School,2019,4,Year 9,640,631,634,637,657,639.8,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican
4,Rehoboth Christian College,2019,5,Year 9,633,605,637,641,654,634.0,Kenwick,115.977924,-32.031619,Non-government,Co-ed,Christian
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Mindarie Senior College,2019,189,Year 9,0,0,0,0,0,0.0,Mindarie,115.706050,-31.676979,Non-government,Co-ed,Catholic
189,Our Lady of Mercy College,2019,190,Year 9,0,0,0,0,0,0.0,Australind,115.740064,-33.270941,Non-government,Co-ed,Catholic
190,Sevenoaks Senior College,2019,191,Year 9,0,0,0,0,0,0.0,Cannington,115.942305,-32.012479,Government,Co-ed,Secular
191,Western Australian College Of Agriculture - Cu...,2019,192,Year 9,0,0,0,0,0,0.0,Cunderdin,117.230704,-31.626847,Government,Co-ed,Secular
192,Woodthorpe School,2019,193,Year 9,0,0,0,0,0,0.0,Willetton,115.901720,-32.056540,Non-government,Co-ed,Brethren Christian

In [20]:
# Check for NaN values
# creating bool series True for NaN values  
bool_series = pd.isnull(wa_hs_naplan_ratings["Religion"])  
    
# filtering data  
# displaying data only with "Religion" = NaN  
wa_hs_naplan_ratings[bool_series]

Empty DataFrame
Columns: [School, Year, Rank, Level, Reading, Writing, Spelling, Grammar, Numeracy, Average, Suburb, Longitude, Latitude, Sector, Gender, Religion]
Index: []

In [21]:
# read "icsea_full" csv file
icsea = pd.read_csv("Resources/icsea_full.csv")
icsea

                                                School  ICSEA
0                                  Perth Modern School   1239
1                 St Hilda's Anglican School for Girls   1197
2                         Christ Church Grammar School   1180
3                         Rossmoyne Senior High School   1121
4                     St Mary's Anglican Girls' School   1158
..                                                 ...    ...
188                               Manea Senior College   1022
189                            Mindarie Senior College   1034
190                          Our Lady of Mercy College   1035
191                           Sevenoaks Senior College    976
192  Western Australian College Of Agriculture - Cu...   1009

[193 rows x 2 columns]

In [23]:
# merge "wa_hs_naplan_ratings" Dataframe with "icsea" Dataframe
wa_hs_naplan_ratings_2019 = pd.merge(wa_hs_naplan_ratings, icsea, on='School', how='left')

In [24]:
# display the merged Dataframe
wa_hs_naplan_ratings_2019

,School,Year,Rank,Level,Reading,Writing,Spelling,Grammar,Numeracy,Average,Suburb,Longitude,Latitude,Sector,Gender,Religion,ICSEA
0,Perth Modern School,2019,1,Year 9,694,667,695,704,729,697.8,Subiaco,115.836396,-31.945066,Government,Co-ed,Secular,1239
1,St Hilda's Anglican School for Girls,2019,2,Year 9,649,636,631,644,652,642.4,Mosman Park,115.767812,-32.005047,Non-government,Girls,Anglican,1197
2,Presbyterian Ladies' College,2019,3,Year 9,641,633,636,637,658,641.0,Peppermint Grove,115.764906,-31.993592,Non-government,Girls,Uniting,1111
3,St Mary's Anglican Girls' School,2019,4,Year 9,640,631,634,637,657,639.8,Karrinyup,115.766244,-31.876971,Non-government,Girls,Anglican,1158
4,Rehoboth Christian College,2019,5,Year 9,633,605,637,641,654,634.0,Kenwick,115.977924,-32.031619,Non-government,Co-ed,Christian,1114
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
188,Mindarie Senior College,2019,189,Year 9,0,0,0,0,0,0.0,Mindarie,115.706050,-31.676979,Non-government,Co-ed,Catholic,1034
189,Our Lady of Mercy College,2019,190,Year 9,0,0,0,0,0,0.0,Australind,115.740064,-33.270941,Non-government,Co-ed,Catholic,1035
190,Sevenoaks Senior College,2019,191,Year 9,0,0,0,0,0,0.0,Cannington,115.942305,-32.012479,Government,Co-ed,Secular,976
191,Western Australian College Of Agriculture - Cu...,2019,192,Year 9,0,0,0,0,0,0.0,Cunderdin,117.230704,-31.626847,Government,Co-ed,Secular,1009
192,Woodthorpe School,2019,193,Year 9,0,0,0,0,0,0.0,Willetton,115.901720,-32.056540,Non-government,Co-ed,Brethren Christian,983

In [25]:
# Check for NaN values
# creating bool series True for NaN values  
bool_series = pd.isnull(wa_hs_naplan_ratings_2019["ICSEA"])  
    
# filtering data  
# displaying data only with "Religion" = NaN  
wa_hs_naplan_ratings_2019[bool_series]

Empty DataFrame
Columns: [School, Year, Rank, Level, Reading, Writing, Spelling, Grammar, Numeracy, Average, Suburb, Longitude, Latitude, Sector, Gender, Religion, ICSEA]
Index: []

In [26]:
# save the "wa_hs_naplan_ratings_full" dataframe to a CSV file
wa_hs_naplan_ratings_2019.to_csv("Resources/wa_hs_naplan_ratings_2019.csv", index = False)